<form *ngIf="baseBeneficiaryGroups !== undefined " class="form-horizontal rtl show" (ngSubmit)="onSubmit()" #f="ngForm">

  <div class="row rtl">
    <div class="col-md-12">
      <app-default-panel headerTitle="تعریف گروه سرویس" panelId="baseServiceGroupList">

        <div *ngIf="baseBeneficiaryGroups !== undefined" class="col-md-3" >
          <span>نام تخصص</span>
          <input name="beneficiaryGroupName" [(ngModel)]="baseBeneficiaryGroups.beneficiaryGroupName" autocomplete="off" type="text" class="form-control rtl"/>
        </div>

        <br>

        <div *ngIf="baseBeneficiaryGroups !== undefined" class="col-md-3" >
          <div class="col-md-6">
            <br>
            <div>
              <span class="text-right">غیر فعال شود ؟</span></div>
            <input style="background-color: red;" type="checkbox" id="iSDisabled" name="iSDisabled"
                   [(ngModel)]="baseBeneficiaryGroups.iSDisabled">
          </div>
        </div>



        <div class="rectangle">
          <button type="submit" #registerButton class="button button4"
                  style="background-color: #458bd6;color:white;border: none;margin-top: 10px;margin-right: 5px;">ثبت <i
            class="fa fa-floppy-o" aria-hidden="true"> </i></button>

        </div>

      </app-default-panel>
    </div>
  </div>



</form>
