<form class="form-horizontal rtl show" (ngSubmit)="onSubmit()" #f="ngForm">

  <div class="row rtl">
    <div class="col-md-12">
      <app-default-panel headerTitle="تعریف روتین" panelId="baseRoutinParaclinicLists">

        <div class="col-md-6">
          <div><span class="text-right">نام روتین</span></div>
          <kendo-combobox [data]="baseRoutinListModelDto"
                          name="routinName"
                          [textField]="'routinName'"
                          [valueField]="'id'"
                          [valuePrimitive]="true"

                          (valueChange)="valueRoutin($event)"
                          style="width: 100%;z-index: 1000000;"
                          [(ngModel)]="baseServiceRoutinParaclinicChild.baseServiceRoutinId"
                          [popupSettings]="{ positionMode: 'fixed', appendTo:'component'}">
          </kendo-combobox>
        </div>


        <div class="col-md-6">
          <div><span class="text-right">پاراکلینیک</span></div>
          <kendo-combobox [data]="listItems"
                          name="paraclinicChild"
                          [textField]="'text'"
                          [valueField]="'value'"
                          [valuePrimitive]="true"
                          (valueChange)="valueChangeParaclinic($event)"
                          [(ngModel)]="baseServiceRoutinParaclinicChild.baseParaclinicChildId"
                          style="width: 100%;z-index: 10000;"
                          [popupSettings]="{ positionMode: 'fixed', appendTo:'component'}">
          </kendo-combobox>
        </div>



        <div class="rectangle">
          <button type="submit" #registerButton class="button button4"
                  style="background-color: #458bd6;color:white;border: none;margin-top: 10px;margin-right: 5px;">ثبت <i
            class="fa fa-floppy-o" aria-hidden="true"> </i></button>

        </div>

      </app-default-panel>
    </div>
  </div>



</form>
