<div class="row rtl">
  <div class="col-md-12">
    <app-default-panel headerTitle="ارتباط سرویس و پاراکلینیک" panelId="baseServiceParaclinicLists" >



      <div class="col-md-12" *ngIf="this.baseServiceParaclinicChild !== undefined">


        <!--        <div class="right" style="margin-right: 10px;">-->
        <!--          <button class="btn btn-info qty pull-right" (click)="AddServiceGroup()">ایجاد گروه سرویس</button>-->

        <!--        </div>-->
        <!--        <br>-->
        <!--        <br>-->
        <kendo-grid style="direction: rtl" id="BaseServiceParaclinicGrid" [data]="gridData" class="kendo-grid" [height]="200"

                    [pageSize]="state.take"
                    [skip]="state.skip"
                    [sortable]="true"
                    [resizable]="true"
                    size="100%"

                    [pageable]="{
                buttonCount: buttonCount,
                info: info,
                type: type,
                pageSizes: pageSizes,
                previousNext: previousNext
            }"

                    (dataStateChange)="dataStateChange($event)"
                    (pageChange)="pageChange($event)">

          <ng-template kendoGridNoRecordsTemplate>
            رکوردی جهت نمایش وجود ندارد
          </ng-template>

          <kendo-grid-column [media]="'(min-width: 100px)'" title="ردیف" headerClass="kendo-grid" width="100">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex+1">
              {{rowIndex }}
            </ng-template>
          </kendo-grid-column>


          <kendo-grid-column field="baseServiceId" title="کد سرویس" width="150px"
                             headerClass="kendo-grid">
          </kendo-grid-column>

          <kendo-grid-column field="serviceName" title="نام سرویس" width="150px"
                             headerClass="kendo-grid">
          </kendo-grid-column>

          <kendo-grid-column field="paraclinicChildName" title="نام پاراکلینیک" width="150px"
                             headerClass="kendo-grid">
          </kendo-grid-column>




          <kendo-grid-column field="californiaCode" title="کد کالیفرنیا" width="150px"
                             headerClass="kendo-grid">
          </kendo-grid-column>



          <kendo-grid-column field="indexQuantity" title="ضریب" width="150px"
                             headerClass="kendo-grid">
          </kendo-grid-column>


          <kendo-grid-column field="indexQuantityAbsence" title="ضریب بیهوشی" width="150px"
                             headerClass="kendo-grid">
          </kendo-grid-column>


          <kendo-grid-column field="indexQuantityTechnical" title="ضریب حرفه ای" width="150px"
                             headerClass="kendo-grid">
          </kendo-grid-column>



          <kendo-grid-column title="اقدامات" width="150px" headerClass="kendo-grid">
            <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
              <!--                    <div class="btn-group btn-group-sm">-->
              <!--                      <button  class="delete" (click)="onDelete(dataItem.id)" tooltip="حذف"></button>-->
              <!--                    </div>-->



              <a data-toggle="tooltip" data-placement="top" title="ویرایش سرویس" (click)="editBaseServiceParaclinicChild(dataItem)"><i
                class="fa fa-edit color-blue5 action-button">  </i> </a>
            </ng-template>
          </kendo-grid-column>


          <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
            <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
            <kendo-pager-numeric-buttons [buttonCount]="10" ></kendo-pager-numeric-buttons>
            <kendo-pager-next-buttons></kendo-pager-next-buttons>
            <kendo-pager-info></kendo-pager-info>
            صفحه جاری : {{currentPage}}
          </ng-template>

        </kendo-grid>
        <!--      </div>-->
        <ng-template #noRecord>
          <div class="col-12">
            <div class="alert alert-danger">
              رکوردی جهت نمایش وجود ندارد
            </div>
          </div>
        </ng-template>
      </div>



    </app-default-panel>
  </div>
</div>


<div>
  <app-default-modal ParentId="NewBaseServiceParaclinicChild" headerText="تعریف سرویس">
    <app-new-service-paraclinic [baseServiceParaclinicChild]="baseServiceParaclinicChild" ></app-new-service-paraclinic>
  </app-default-modal>
</div>



<!--<div class="modal fade" id="NewBaseServiceParaclinicChild" role="dialog">-->
<!--  <div class="modal-dialog">-->

<!--    &lt;!&ndash; Modal content&ndash;&gt;-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--        <h4 class="modal-title">Modal Header</h4>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <app-new-service-paraclinic [baseServiceParaclinicChild]="baseServiceParaclinicChild" ></app-new-service-paraclinic>-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->
