<!-- START WIDGETS -->


<div class="row" >
  <div class="col-md-12" >
    <!--  <h1 class="page-header">پرونده های پیگیری</h1>-->
  </div>
  <div class="col-md-3">
    <!-- START WIDGET CLOCK -->
    <div class="widget widget-info widget-padding-sm">
<!--      <div class="widget-big-int plugin-clock">{{currentHours}}<span>:</span>{{currentMinutes}}<span>:</span>{{currentSeconds}}</div>-->
      <!--      <div class="widget-subtitle plugin-date">یکشنبه,  10 شهریور , 1398</div>-->
<!--      <div class="widget-subtitle plugin-date">{{currentDateString}}</div>-->
      <div class="widget-buttons widget-c3">
        <div class="col">
          <a href="#"><span class="fa fa-clock-o"></span></a>
        </div>
        <div class="col">
          <a href="#"><span class="fa fa-bell"></span></a>
        </div>
        <div class="col">
          <a href="#"><span class="fa fa-calendar"></span></a>
        </div>
      </div>
    </div>

  </div>


<!--  <div class="col-md-3"  *ngIf="isAdministrator=== true">-->

<!--    <div class="widget widget-default widget-item-icon" onclick="" style="background-color: #49b6d6;color: white;">-->


<!--      <div class="widget-data2">-->
<!--        <div class="widget-title" >تعداد جاری</div>-->
<!--        <div class="widget-int num-count">  {{currentCount | number}}</div>-->
<!--        <div class="widget-buttons2 ">-->
<!--          <div class="widget-subtitle" style="color: white;font-size: 14px">مبلغ  : </div>-->
<!--          &lt;!&ndash;          <div >{{currentCount | number}}</div>&ndash;&gt;-->
<!--        </div>-->

<!--      </div>-->
<!--    </div>-->
<!--  </div>-->


<!--  <div class="col-md-3" *ngIf="isAdministrator=== true">-->
<!--    <div class="widget widget-default widget-item-icon" onclick="" style="background-color: #727cb6;color: white;">-->
<!--      <div class="widget-data2">-->
<!--        <div class="widget-title">تعداد سررسید گذشته</div>-->
<!--        <div class="widget-int num-count">{{pastOfMatureCount | number}}</div>-->
<!--        <div class="widget-buttons2 ">-->
<!--          <div class="widget-subtitle" style="color: white;">مبلغ : {{pastOfMatureAmount | number}} </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->


<!--  <div class="col-md-3" *ngIf="isAdministrator=== true">-->
<!--    <div class="widget widget-default widget-item-icon" onclick="" style="background-color: #f59c1a ;color: white;">-->
<!--      <div class="widget-data2">-->
<!--        <div class="widget-title">تعداد معوق</div>-->
<!--        <div class="widget-int num-count">{{delayedBenefitCount | number}}</div>-->
<!--        <div class="widget-buttons2 ">-->
<!--          <div class="widget-subtitle" style="color: white;">مبلغ : {{delayedBenefitAmount | number}} </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->



<!--  <div class="col-md-3" *ngIf="isAdministrator=== true">-->
<!--    <div class="widget widget-default widget-item-icon" onclick="" style="background-color: #cc4946 ;color: white;">-->
<!--      <div class="widget-data2">-->
<!--        <div class="widget-title">تعداد مشکوک الوصول</div>-->
<!--        <div class="widget-int num-count">{{doubtfulCount | number}}</div>-->
<!--        <div class="widget-buttons2 ">-->
<!--          <div class="widget-subtitle" style="color: white;">مبلغ : {{doubtfulAmount | number}} </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->



<!--  <div class="col-md-3" *ngIf="isAdministrator=== true" >-->
<!--    <div class="widget widget-default widget-item-icon" onclick="" style="background-color: #ff5b57 ;color: white;">-->
<!--      <div class="widget-data2">-->
<!--        <div class="widget-title">مطالبات غیر جاری</div>-->
<!--        <div class="widget-int num-count">{{notCurrentCount | number}}</div>-->
<!--        <div class="widget-buttons2 ">-->
<!--          <div class="widget-subtitle" style="color: white;"> </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->


<!--  <div class="col-md-3" *ngIf="isAdministrator=== true">-->
<!--    <div class="widget widget-default widget-item-icon" onclick="" style="background-color: #348fe2  ;color: white;">-->
<!--      <div class="widget-data2">-->
<!--        <div class="widget-title">جریمه تاخیر </div>-->
<!--        <div class="widget-int num-count">{{penaltyAmount | number}}</div>-->
<!--        <div class="widget-buttons2 ">-->
<!--          <div class="widget-subtitle" style="color: white;"> </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->


<!--  <div class="col-md-3" *ngIf="isAdministrator=== true">-->
<!--    <div class="widget widget-default widget-item-icon" onclick="" style="background-color: #2d353c  ;color: white;">-->
<!--      <div class="widget-data2">-->
<!--        <div class="widget-title">کل مطالبات</div>-->
<!--        <div class="widget-int num-count">{{totalDemand | number}}</div>-->
<!--        <div class="widget-buttons2 ">-->
<!--          <div class="widget-subtitle" style="color: white;"> </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->



</div>
<!-- END WIDGETS -->

<!--محل جانمایی چارت های SVG-->
<div class="row">


  <div class="col-12 col-sm-12 col-md-6">


  </div>
</div>


