<!-- START BREADCRUMB -->
<!--<ul class="list-inline pull-right">-->
<!--  <span class="list-inline-item pull-left">{{fundStock}}</span>-->
<!--  <li class="list-inline-item"><a href="#">خانه</a></li>-->
<!--  <li class="list-inline-item" style="float:left"><a href="#">پیش خوان</a></li>-->
<!--</ul>-->

<ul>
  <li><a routerLink=""  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">خانه</a></li>
  <li><a routerLink="/mp/dashboard" >پیش خوان</a></li>
  <!--  <li class="ml-2" style="float:left">About</li>-->
  <!-- <li class="ml-2 rtl" style="float:left"><app-funds-stock [fundsStock]="fundStock"></app-funds-stock></li>-->
</ul>

<!-- END BREADCRUMB -->
